apiVersion: v1
kind: Service
metadata:
  name: {{ include "rancher-hub.backend.fullname" . }}
  labels:
    {{- include "rancher-hub.backend.labels" . | nindent 4 }}
spec:
  type: {{ .Values.backend.service.type }}
  ports:
  - port: {{ .Values.backend.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    {{- include "rancher-hub.backend.selectorLabels" . | nindent 4 }}
