{{- if .Values.postgresql.enabled }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "rancher-hub.postgresql.fullname" . }}
  labels:
    {{- include "rancher-hub.postgresql.labels" . | nindent 4 }}
spec:
  serviceName: {{ include "rancher-hub.postgresql.fullname" . }}
  replicas: 1
  selector:
    matchLabels:
      {{- include "rancher-hub.postgresql.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "rancher-hub.postgresql.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        fsGroup: 999
        runAsUser: 999
        runAsNonRoot: true
      containers:
      - name: postgresql
        image: "{{ .Values.postgresql.image.registry }}/{{ .Values.postgresql.image.repository }}:{{ .Values.postgresql.image.tag }}"
        imagePullPolicy: {{ .Values.postgresql.image.pullPolicy }}
        env:
        - name: POSTGRES_DB
          value: {{ .Values.postgresql.auth.database | quote }}
        - name: POSTGRES_USER
          value: {{ .Values.postgresql.auth.username | quote }}
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ include "rancher-hub.postgresql.secretName" . }}
              key: {{ if .Values.postgresql.auth.secretKeys }}{{ .Values.postgresql.auth.secretKeys.userPasswordKey }}{{ else }}password{{ end }}
        - name: POSTGRES_INITDB_ARGS
          value: "--encoding=UTF-8 --lc-collate=C --lc-ctype=C"
        - name: PGDATA
          value: /var/lib/postgresql/data/pgdata
        ports:
        - name: postgresql
          containerPort: 5432
          protocol: TCP
        livenessProbe:
          exec:
            command:
            - /bin/sh
            - -c
            - exec pg_isready -U {{ .Values.postgresql.auth.username | quote }} -d {{ .Values.postgresql.auth.database | quote }} -h 127.0.0.1 -p 5432
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 6
        readinessProbe:
          exec:
            command:
            - /bin/sh
            - -c
            - exec pg_isready -U {{ .Values.postgresql.auth.username | quote }} -d {{ .Values.postgresql.auth.database | quote }} -h 127.0.0.1 -p 5432
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 6
        volumeMounts:
        - name: data
          mountPath: /var/lib/postgresql/data
        {{- if .Values.postgresql.initdbScripts }}
        - name: init-scripts
          mountPath: /docker-entrypoint-initdb.d
        {{- end }}
        resources:
          {{- toYaml .Values.postgresql.resources | nindent 10 }}
      volumes:
      {{- if .Values.postgresql.initdbScripts }}
      - name: init-scripts
        configMap:
          name: {{ include "rancher-hub.postgresql.fullname" . }}-init
      {{- end }}
  {{- if .Values.postgresql.persistence.enabled }}
  volumeClaimTemplates:
  - metadata:
      name: data
      labels:
        {{- include "rancher-hub.postgresql.labels" . | nindent 8 }}
    spec:
      accessModes:
      - {{ .Values.postgresql.persistence.accessMode | quote }}
      {{- if .Values.postgresql.persistence.storageClass }}
      {{- if (eq "-" .Values.postgresql.persistence.storageClass) }}
      storageClassName: ""
      {{- else }}
      storageClassName: {{ .Values.postgresql.persistence.storageClass | quote }}
      {{- end }}
      {{- end }}
      resources:
        requests:
          storage: {{ .Values.postgresql.persistence.size | quote }}
  {{- else }}
      - name: data
        emptyDir: {}
  {{- end }}
{{- end }}
